body {
    background: #B8F5FF;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding: 20px 10px;
    margin: 10px;
    padding: 20px 10px;
    background: #6CEAFF;
    border-radius: 10px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid rgb(69, 155, 126);
    display: block;
    margin: auto
}

.assignment img:hover {
    border: 2px dashed rgb(69, 155, 126);
}

h1 {
    color: #36747F;
    text-align: center;
}

h2 {
    color: #36747F;
    text-align: center;
}

a {
    text-decoration: none;
    color:#36747F;
}

a:hover {
    color: #FFF;

}